*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f6f3ef;
    color:#87685b;
    font-family:'Spectral', serif;
}


/* ======================
LOADER
====================== */

#loader{
    position:fixed;
    inset:0;
    background:#f6f3ef;

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;

    transition:1s;
}

#loader h1{

    font-size:80px;

    color:#a63f2b;

    letter-spacing:10px;

}


/* ======================
HEADER
====================== */

header{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    background:white;

    box-shadow:0 2px 15px rgba(0,0,0,.08);

    z-index:1000;

}


nav{

    display:flex;

    align-items:center;

    gap:40px;

    padding:20px 40px;

}


.logo{

    flex-shrink:0;

    font-size:40px;

    font-weight:600;

    color:#a63f2b;

}


.nav-wrapper{

    flex:1;

    overflow:hidden;

}


.nav-menu{

    display:flex;

    gap:40px;

    list-style:none;

    overflow-x:auto;

    overflow-y:hidden;

    white-space:nowrap;

    scroll-behavior:smooth;
    scroll-snap-type:x proximity;

    scrollbar-width:none;

    -ms-overflow-style:none;

    cursor:grab;

    user-select:none;

}


.nav-menu.active{

    cursor:grabbing;

}


.nav-menu::-webkit-scrollbar{

    display:none;

}


.nav-menu li{

    flex-shrink:0;
    scroll-snap-align:center;


}


.nav-menu a{

    display:inline-block;

    position:relative;

    text-decoration:none;

    color:#87685b;

    font-size:20px;

    padding-bottom:10px;

    transition:.3s;

}

.nav-menu a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:0;

    width:0;

    height:2px;

    background:#a63f2b;

    transition:.3s ease;

}

.nav-menu a:hover,
.nav-menu a.active{

    color:#a63f2b;

}

.nav-menu a:hover::after,
.nav-menu a.active::after{

    width:100%;

}

/* ======================
HERO
====================== */

#hero{

    margin-top:90px;

    height:80vh;

    background-size:cover;

    background-position:center;

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

    background-repeat:no-repeat;

    transition:all .8s ease;

}


.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.30);

}


.hero-content{

    width:90%;

    position:relative;

    color:white;

    text-align:center;

}


.hero-content h1{

    font-size:80px;

    font-weight:500;

    margin-bottom:20px;

}


.hero-content p{

    font-size:28px;

}

/* ======================
SEARCH
====================== */

.search{

    max-width:900px;

    margin:100px auto 40px;

}


#searchInput{

    width:100%;

    border:none;

    border-bottom:1px solid #c5b8ae;

    background:none;

    padding:20px 0;

    outline:none;

    font-size:28px;

    font-family:'Spectral', serif;

}


#searchInput::placeholder{

    color:#ab988e;

    font-style:italic;

}


/* ======================
CATEGORY TITLE
====================== */

.category-title{

    text-align:center;

    padding:30px;

}


.category-title h2{

    font-size:52px;

    color:#a63f2b;

}


/* ======================
WELCOME
====================== */

.welcome{

    max-width:900px;

    margin:120px auto;

    text-align:center;

}


.welcome h2{

    font-size:72px;

    color:#a63f2b;

    font-weight:500;

    margin-bottom:25px;

}


.subtitle{

    font-size:30px;

    font-style:italic;

    margin-bottom:40px;

}


.welcome p{

    font-size:24px;

    line-height:1.9;

}


/* ======================
MENU
====================== */

#menu-container{

    max-width:1200px;

    margin:auto;

    padding:50px;

}


.menu-item{

    display:flex;

    justify-content:space-between;

    gap:40px;

    margin-bottom:60px;

}


.info{

    width:80%;

}


.name{

    font-size:32px;

    color:#a63f2b;

    font-weight:600;

    margin-bottom:15px;

}


.description{

    font-size:20px;

    line-height:1.8;

    font-style:italic;

}


.price{

    font-size:30px;

    font-weight:600;

    color:#a63f2b;

}


/* ======================
FOOTER
====================== */

footer{

    text-align:center;

    padding:40px;

    font-size:13px;

    letter-spacing:2px;

    color:#a63f2b;

}


/* ======================
MOBILE
====================== */

@media(max-width:768px){

nav{

    padding:15px;

    gap:20px;

}


.logo{

    font-size:30px;

}


.nav-menu{

    gap:25px;

}

#hero{

    height:50vh;

}

.hero-content h1{

    font-size:42px;

}


.hero-content p{

    font-size:18px;

}


.search{

    width:90%;

    margin:50px auto;

}


#searchInput{

    font-size:20px;

}


.welcome{

    width:90%;

    margin:80px auto;

}


.welcome h2{

    font-size:42px;

}


.subtitle{

    font-size:22px;

}


.welcome p{

    font-size:18px;

}


.category-title h2{

    font-size:36px;

}


.menu-item{

    flex-direction:column;

    gap:15px;

}


.info{

    width:100%;

}


.name{

    font-size:26px;

}


.description{

    font-size:18px;

}


.price{

    font-size:24px;

}


footer{

    padding:20px;

    font-size:11px;

}



}